NODE_ENV=development
PORT=5010
JWT_SECRET=your_jwt_secret_here
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=geofaceattend
MAILGUN_API_KEY=your_mailgun_key_here
MAILGUN_DOMAIN=your_mailgun_domain_here